* {
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 93vh;
    margin: 0;
}

nav {
    top: 0px;
    background-color: #246084;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
    font-family: "Roboto Slab", serif;
    padding: 20px;
    text-align: center;
}

.haro {
    color: #6EC4B7;
}

.legend {
    background-color: white; /* Fondo blanco */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    bottom: 30px;
  }